name: Keep Alive

on:
  schedule:
    - cron: '*/10 * * * *' # Run every 14 minutes
  workflow_dispatch: # Allow manual trigger

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render Service
        run: |
          curl -I https://dual-subtitles-stremio-addon.onrender.com/health
          echo "Ping sent at $(date)"
